'amp.html': '#f7c23a'
babelrc: '#f9dc3e'
coffee: '#6683c4'
litcoffee: '#6683c4'
cson: '#6683c4'
css: '#3e8cd5'
'c++': '#0285f0'
c: '#02f093'
cc: '#0285f0'
cpp: '#0285f0'
db: '#70a8c7'
eslintignore: '#8080f2'
flowconfig: '#ffce39'
hs: '#738087'
lhs: '#738087'
htm: '#f45c3a'
html: '#f45c3a'
h: '#2165b6'
hh: '#2165b6'
hpp: '#2165b6'
'h++': '#2165b6'
htaccess: '#f69923'
java: '#f8981d' # ['linear', 'to bottom right', '#f8981d', '#5382a1']
js: '#fee12a'
jsx: '#fee12a'
json: '#fee12a'
less: '#3b6fb9'
lock: '#6f6f6f'
log: '#bdbdbd'
lisp: '#d74f4f'
lsp: '#d74f4f'
cl: '#d74f4f'
l: '#d74f4f'
fasl: '#d74f4f'
m: '#4195fa'
map: '#cc3a6a'
markdown: '#eee'
md: '#eee'
mdown: '#eee'
node: '#63c459'
npmignore: '#cb3837'
'package.json': '#cb3837'
otf: '#59aade'
ttf: '#59aade'
woff: '#59aade'
woff2: '#59aade'
eot: '#59aade'
pdf: '#c94949'
php: '#5e77a5'
plist: '#ababab'
pug: '#a86454'
py: '#5a9fd4' # ['linear', 'to bottom right', '#5a9fd4', '#306998 50%', '#ffd43b 51%', '#ffe839']
pyc: '#ffd43b'
pyo: '#ffe839'
pyd: '#306998'
rake: '#e82609'
rb: '#b31301'
rs: '#d9d9d9'
sass: '#b37399'
scss: '#cf649a'
sh: '#a420c6'
sketch: '#f8c332'
styl: '#ff6347'
svg: '#d6913f'
swift: '#f95f37' # ['linear', 'to bottom', '#f88a36', '#fd2020'] background clip
tex: '#fff'
toml: '#aaa'
txt: '#eee'
vue: '#41b883'
xml: '#f4b53a'
zip: '#8cc3e6'
